@import 'flowbite';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* slider start */
.svg-path {
    fill: currentColor; 
}


.group:hover .svg-path {
    fill: merah; 
}

/* slider end */

/* content start */
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .image-container:hover .overlay {
    opacity: 1;
  }
/* content end */

#dropdownNotification {
  position: absolute;
  z-index: 9999; /* atau nilai yang lebih tinggi */
}


/* komen */
.hidden {
  display: none;
}

.replies {
  margin-left: 20px;
}

/* Menyembunyikan scrollbar di browser WebKit (Chrome, Safari, Edge) */
.scrollbar-hidden::-webkit-scrollbar {
  width: 4px; /* Mengatur lebar scrollbar menjadi tipis */
  height: 4px; /* Jika ada scroll horizontal */
}

/* Mengubah track scrollbar */
.scrollbar-hidden::-webkit-scrollbar-track {
  background: transparent; /* Membuat track scrollbar transparan */
}

/* Mengubah thumb (bagian yang bisa di-scroll) */
.scrollbar-hidden::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Warna gelap dengan opacity rendah */
  border-radius: 10px; /* Membuat bentuknya bulat */
}

/* Hover effect saat thumb di-scroll */
.scrollbar-hidden::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4); /* Saat di-hover, warnanya lebih jelas */
}
